@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
    font-family: Poppins;

}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(215, 215, 215, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
  
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.3);
  }

a{
    text-decoration: none;
}

@media (max-width: 2652px){
    .container {
        max-width: 1770px;
        margin: auto;
    }
}
.container{
	max-width: 1110px;
	margin:auto;
}


.row{
	display: flex;
	flex-wrap: wrap;
}

.align-items-center{
	align-items: center;
}

.justify-content-between{
	justify-content: space-between;
}

/*header*/
.header{
    overflow: hidden;
    position: fixed;
    z-index: 1000000000;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.04);
	padding: 8px 0;
	line-height: 1.5;
}

.header .logo,
.header .nav{
	padding:0 15px;
    
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .logo a{
	font-size: 30px;
    height: 60px;
    width: 100%;
    object-fit: contain;
	color: #ffffff;
	text-transform: capitalize;
}
.header .nav ul li{
	display: inline-block;
	margin-left: 40px;
}
.header .nav ul li a{
	display: block;
	font-size: 16px;
	text-transform: capitalize;
	color: #222222;
	padding: 10px 0;
	transition: all 0.5s ease;


    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.045em;
    text-align: left;
    


}
.header .nav ul li a.active,
.header .nav ul li a:hover{
	color: #007146;
}
.nav-toggler{
	height: 34px;
	width: 44px;
	background-color: #007146;
	border-radius: 4px;
	cursor: pointer;
	border:none;
	display: none;
	margin-right: 15px;
}
.nav-toggler:focus{
	outline: none;
	box-shadow: 0 0 15px rgba(255,255,255,0.5);
}

.endnav {
    display: flex;
    margin-left: auto;
    gap: 4px;
}
.out a {
    display: flex;
}
.headprofile_name {
    margin-top: 15px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 5px;
}

.headprofile_img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.m2wo {
    display: none !important;
}

.headprofile_img img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.nav{
    margin: auto;
}
.nav-toggler span{
    height: 2px;
    width: 20px;
    background-color: white;
    display: block;
    margin:auto;
    position: relative;
    transition: all 0.3s ease;
}
.nav-toggler.active span{
	background-color: transparent;
}
.nav-toggler span::before,
.nav-toggler span::after{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: white;
	transition: all 0.3s ease;
}
.nav-toggler span::before{
	transform: translateY(-6px);
}
.nav-toggler.active span::before{
	transform: rotate(45deg);
}
.nav-toggler span::after{
	transform: translateY(6px);
}
.nav-toggler.active span::after{
	transform: rotate(135deg);
}
@media(max-width:991px){
   .nav-toggler{
   	display: block;
   }
   .header .nav{
   	width: 100%;
   	padding:0;
   	max-height: 0px;
   	overflow: hidden;
   	visibility: hidden;
   	transition: all 0.5s ease;
   }
   .header .nav.open{
   	visibility: visible;
   }
   .header .nav ul{
   	padding:12px 15px 0;
   	margin-top: 12px;
   	border-top:1px solid rgba(255,255,255,0.2);
   }
   .header .nav ul li{
   	display: block;
   	margin:0;
   }
}


@media (max-width: 991px){
    .m2wo {
        width: fit-content;
        display: flex !important;
        flex-direction: row-reverse;
    }
    .out {
        display: none !important;
    }
}


.card_box {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}

.crystalcard {
    background: #007146;
    padding: 36px;
    height: auto;
}

.crystalcard2 {
    background: #FFFFFF;
    padding: 36px;
    height: auto;
}
.crystalcardtext2 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #007146;
    margin-bottom: 10px;
}

.crystalcardnumber2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    color: #007146;
}

.re {
    border-radius: 5px;
}
@media only screen and (max-width: 1190px){
.main-content{
    width: 90%;
    display: flex;
    margin: auto;
    flex-direction: column;
}
}
@media only screen and (max-width: 690px){
    .re {
        border-radius: 5px;
        width: 100%;
        margin: auto;
    }


}

.crystalcardtext {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    margin-bottom: 10px;
}

.crystalcardnumber {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.tai{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.tait{
    font-family: Poppins;
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    color: 
    #fff;
    
}

.tain{
    font-family: Poppins;
font-size: 13px;
font-weight: 500;
line-height: 23px;
letter-spacing: 0px;
text-align: left;

color:#fff;
}

.crystalsmallcard {
    padding: 9px;
    height: 120px;
    width: 110px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 6px;
}

.svgside {
    object-fit: contain;
    background-color: #007146;
    border-radius: 50%;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.textinside {
    font-size: 13px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(115, 115, 115, 1);
}

.logincontainer{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.creativeform2 {
    background-color: #fff;
    width: 480px;
    margin-top: 2px;
    padding: 40px;
    border-radius: 4px;
}

.form_body {
    display: flex;
    flex-direction: column;
    grid-gap: 12px;
}
.form_body_row {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.form_body_column {
    width: 100%;
    margin-top: 12px;
}
.form_body_column label {
    color: #000000C9;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    
}
label {
    margin-bottom: 5px;
    display: block;
}

input[type=text], [type=email], [type=password], [type=number], [type=tel], [type=date], select {
    width: 100%;
    padding: 7px 18px;
    margin: 7px 0 !important;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 100%;
    line-height: normal !important;
    font-family: 'Poppins', sans-serif !important;
    border-radius: 4px;
    box-sizing: border-box;
    background: rgba(245, 245, 245, 1);
    outline-color: transparent;
}


.select2-search__field {
    padding: 7px 18px;
    margin: 7px 0 !important;
}

  .select2-container .select2-selection--single .select2-selection__rendered{
    background: rgba(245, 245, 245, 1);
   border: none !important; 
  }
  .select2-container--default .select2-selection--single{
    border: none !important; 
  }

  .select2{
    width: 100%;
    padding: 7px 18px;
    margin: 7px 0 !important;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 100%;
    line-height: normal !important;
    font-family: 'Poppins', sans-serif !important;
    border-radius: 4px;
    box-sizing: border-box;
    background: rgba(245, 245, 245, 1);
  }

   .select2-container .select2-selection--single {
    height: 56px;
    position: relative;
  
    font-family: 'Poppins', sans-serif !important;
    
  }
  .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 56px;
  }
  .select2-container .select2-selection--single .select2-selection__arrow {
    top: 16px;
    right: 8px;
  }




input[type=submit] {
    font-family: inherit;
    width: 100%;
    background: #007146;
    color: white;
    padding: 14px 27px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.fpas a {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 5px;
}

.fpas a {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 5px;
}

.passworddog span a {
    color: #007146;
}

.investment_form_title h3{
    text-align: center;
    font-family: Poppins;
font-size: 20px;
font-weight: 700;
line-height: 36px;
letter-spacing: -0.05em;
text-align: left;
color: 
#4A4A4A;

}

.creativeform1 {
    background-color: #fff;
    width: 700px;
    margin: auto;
    margin-top: 2px;
    padding: 32px;
    margin-bottom: 10px;
    border-radius: 4px;
}

@media only screen and (max-width: 850px){
    .creativeform2 {
        width: 98%;
        padding: 20px;
        padding-top: 20px;
        
    }

    .creativeform1 {
        width: 98%;
        padding: 20px;
        padding-top: 20px;
    }
}

.innerdog{
    font-family: Poppins;
font-size: 14px;
font-weight: 300;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 10px;

}

.spaceding{
    display: flex;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;

}


.digit-group {
width: 40px !important;
height: 50px !important;
border: 1px solid #999;

text-align: center;
font-size: 22px;
font-weight: 900;
color: #000;
margin: 0 2px !important;
padding: 0 2px !important;
}

.digit-group:focus {
width: 40px !important;
height: 50px !important;
border: 1px solid #999;

text-align: center;
font-size: 22px;
font-weight: 900;
color: #000;
margin: 0 2px !important;
padding: 0 2px !important;
}

.formcontro{
    height: 57vh;
    overflow: scroll;
    padding: 10px;
}


.progress *:not([data-progress]) {
    margin: 5px 0;
    font-size: 14px;
  }
  .progressdiv{
    width: 100%;
    background-color: white;
  
  }
  .progress {
    width: 100%;
    max-width: 99%;
    padding: 2px;
    box-sizing: border-box;
    box-shadow: 0px 0px 14px 0px #0000000A;
    

  }
  
  .progress [data-progress] {
    height: 17px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.35) inset;
    border-radius: 7px;
    margin: 5px 0 10px 0;
    overflow: hidden;
  }
  
  [data-progress]::after {
    content: "";
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: linear-gradient(93.15deg, #BBD6CB -19.3%, #007146 155.08%);

    width: 0;
    height: 100%;
    box-sizing: border-box;
    font-size: 10px;
    color: white;
    padding: 0 3px;
    transition: 2s;
  }
  
  [data-progress].animate-progress::after {
    content: attr(data-progress) "%";
    width: var(--animate-progress);
  }


  .steppercontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 5px;
    background: linear-gradient(93.15deg, #BBD6CB -19.3%, #007146 155.08%);
    padding: 10px;
    border-radius: 5px;
  }

  .stepper{
    width: fit-content;
    
  }
  

  .stepper .title{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
color: 
#fff;
      
  }

  .ends .title{
    text-align: right;
  }
  
  .numb{
    margin: inherit;
    font-family: Poppins;
font-size: 14px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 40px;
width: 40px;
background-color: #007146;
border-radius: 50%;
color: white;
  }

.ends{
    
    

    display: flex;
    margin-left: auto;
    flex-direction: column;
}

.ends .numb{
    background-color: 
    #98C3B0;
}

.loading-overlay {
    display: none;
      background-color: rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(2px);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999999888888888888;
    align-items: center;
    justify-content: center;
  }
  
  .loading-overlay.is-active {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    gap: 10px;
  }
  
  .fa-spinner{
    font-weight: 900;
    color: white;
    font-size: 70px;
  }
  
  .loading-overlay p{
    width: 70%;
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 19px;
    line-height: 34px;
  }
  
  
  @media only screen and (max-width: 900px){
    .form_body_row {
        flex-direction: column;
        gap: 1px;
    }
  }

  .userprofileflexboxcontent{
    display: flex;
    grid-gap: 20px;
    margin-bottom: 20px;
  }
  .userflexboxside1{
    width: 40%;
    height: fit-content;
    position: sticky;
    position: sticky;
    top: 10%; 
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  
  }
  .table td, .table th {
  
    vertical-align: middle !important;
    
  }
  .buttonflexto1{
    display: flex;
    grid-gap: 10px;
    margin-bottom: 10px;
    
  }
  
  .introcuploadimg{
    height: 100px;
    margin-bottom: 20px;
  }
  
  .userintoruc{
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
  }
  
  .introccontent{
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }
  
  .introctitle{
  
  
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    
  color: rgba(95, 93, 93, 1);
  }
  
  .introcbody{
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    
  color:rgba(114, 114, 114, 1);
  }
  
  .nx{
    padding: 30px;
    width: 100%;
    border-radius: 5px;
  
    background-color: white;
  }
  .nxtops{
    width: 100%;
    display: flex;
    grid-gap: 10px;
  
  }
  
  .inthead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007146;
    padding: 7px;
    border-radius: 9px;
    color: white;
    margin-bottom: 20px;
  }
  
  .minimi{
    width: 100%;
    padding: 5px;
    display: flex;
   gap: 15px;
  }
  
  .total{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    grid-gap: 10px;
    height: 100%;
    border: 2px dotted #999;
    padding: 5px;
}
.inticon i{
    font-size: 17px;
}
.banklogo{
    width: 20%;
    height: 100%;
    padding: 10px;

}


.banklogo img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.tobbankname{
    font-weight: 500;
    font-size: 15px;
}
.banknumber{
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 3px;
    gap: 3px;
}

.bottombankpin{
    font-size: 12px;
}

.editbtn{
    text-align: end;
    width: 30%;
    width: 30%;
    height: fit-content;
    background-color: 10px;
}

.editbtn i{
    font-size: 25px;
    color: #999;
}
.site-section{
    width: 100%;
    border-radius: 10px;
    padding: 30px;
}
.introcuploadimg{
    width: 100%;
    background: linear-gradient(93.15deg, #BBD6CB -19.3%, #007146 155.08%);

    border-radius: 3px;
}
.imagecop{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 130px;
    width: 130px;
border-radius: 9px;
    border-radius: 50%;
    top: 50px;
    left: 30%;
    border: 3px solid #999;
}

.imagecop img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}


  .inttitle{
  
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  
  }
  .nx1{
    border-radius: 5px;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
   
  }
  
  .nx2{
    width: 100%;
  }
  
  .userflexboxside2{
    width: 100%;
    height: 100%;
   
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
  }
  
  .displacedcontainer{
    width: 900px;
    margin: auto;
    border-radius: 9px;
    margin-top: 60px;
    height: 100%;
    padding: 40px;
    background: rgba(255, 255, 255, 1);
  
  }
  
  .action .menu h3 {
    width: 100%;
    text-align: center;
    font-size: 20px;  
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
     color: #555;
     line-height: 1.2em;
  }
  
  .emptyspace{
    padding-top: 100px;
  }
  .hehehe{
    
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .addinvestment_headtext {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

  .action .menu ul li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  }
  
  .action .menu ul li img{
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
  }
  
  .action .menu ul li:hover img{
  opacity: 1;
  }
  
  .action .menu ul li a{
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
  }
  
  .action .menu ul li:hover a {
    color: skyblue;
  }
  
  .out a{
    display: flex;
  }
  
  
  ul{
      list-style: none;
  }
  
  a{
      text-decoration: none;
  }
  
  .container{
      max-width: 1170px;
      margin:auto;
  }
  .container33{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.introcuploadimg{
    width: 100%;
    background-color: #f9d8c2;
    border-radius: 3px;
}
.imagecop{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 130px;
    width: 130px;
border-radius: 9px;
    border-radius: 50%;
    top: 50px;
    left: 30%;
    border: 3px solid #999;
}

.imagecop img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.introctitle{
    font-weight: 600;
}

li {
	list-style: none;
}

.tabled{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 40px;
}

#content{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 40px;
}

:root {
	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

#content .mai .box-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}
#content .mai .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
#content .mai .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content .mai .box-info li:nth-child(1) .bx {
	background: var(--light-blue);
	color: var(--blue);
}
#content .mai .box-info li:nth-child(2) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
}
#content .mai .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
}
#content .mai .box-info li:nth-child(4) .bx {
	background: rgb(90, 90, 90);
	color: white;
}
#content .mai .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
#content .mai .box-info li .text p {
	color: var(--dark);
}

  thead {
    box-shadow: 0 5px 10px #e1e5ee !important;
  }
  th {
    padding: 1rem 2rem !important;
    text-transform: uppercase !important;
    letter-spacing: 0.1rem !important;
    font-size: 0.7rem !important;
    font-weight: 900 !important;
    text-align: start;
    font-family: inherit !important;
  }
  tr:nth-child(even) {
    background-color: #f4f6fb !important;
  }

  td {
    padding: 1rem 2rem !important;
    font-size: 14px;
    text-align: start;
  }

  a {
    text-decoration: none !important;
  }

  .status {
    background-color: red;
    padding: 0.2rem 1rem;
    text-align: center;
    border-radius: 0.2rem;
  }
.Under_Review {
      background-color: #ffcdd2;
      color: #c62828;
    }
.Accepted {
      background-color: #c8e6c9;
      color: #388e3c;
    }
.Pending {
      background-color: #fff0c2;
      color: #a68b00;
}


  .amount {
    text-align: right;
  }

  tr:nth-child(even) {
    background-color: #e1e5ee;
  }


 .Rejected{
    background-color: red !important;
    color: #fff;
    }
a{
text-decoration: none !important;
}
.Under_Review{
    background-color: #077E8C !important;
    color: #fff;
    }

 .Accepted{
    background-color: green !important;
    color: #fff;
    }
 .Pending{
    background-color: #F7CB73 !important;
    color: #000;
    }

    .colcard{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    }

    .card{
    background-color: #87cefa;
    width: 100%;
    }

    .mtcontainers{

        width: 100% !important;
        margin: auto;
        font-size: 13px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif !important;
    }

    .flexboxx{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: auto;
    }

    .ovh{
        width: 100%;
        overflow: scroll;
    }
    div.dataTables_wrapper div.dataTables_filter input {
        /* margin-left: 0.5em; */
        display: flex;
        flex-direction: column;
        width: 90% !important;
    }


    @media(max-width:991px){

        .imagecop {
         position: absolute;
         display: flex;
         flex-direction: column;
         height: 130px;
         width: 130px;
         border-radius: 9px;
         border-radius: 50%;
         top: 50px;
         left: 40%;
         border: 3px solid #999;
     }
     .nxtops{
        flex-direction: column;
     }
     .nx {
        width: 100%;
     }
     .minimi {
        width: 100%;
        padding: 5px;
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
    }
    
    
     .tabled{
        width: 100%;
        background-color: white;
        border-radius: 20px;
        padding: 19px;
        margin-bottom: 40px;
    }
    }

    @media(max-width:591px){

        .imagecop {
            position: absolute;
            display: flex;
            flex-direction: column;
            height: 130px;
            width: 130px;
            border-radius: 9px;
            border-radius: 50%;
            top: 50px;
            left: 31%;
            border: 3px solid #999;
        }

        .sbsbs{
            width: 98% !important;
        }

        table.dataTable.nowrap th, table.dataTable.nowrap td {
            white-space: pre-wrap;
        }
    }



.modal {
  display: none;
  position: fixed;
  z-index: 999999999999999999999999999999999999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
  background-size: cover;
}

.modal-content {
    background-color: #fefefe;
    position: absolute;
    border-radius: 3px;
    padding: 10px;
    width: 55%;
    top: 50%;
    left: 50%;
    height: 70%;
    transform: translate(-50%, -50%);
}

.myimagecontainer{
    width: 100%;
    height: 90%;
    overflow: scroll;
    text-align: justify;
  }

.close {
  color: #aaaaaa;
  float: right;
  margin-right: 20px;
  font-size: 28px;
  line-height: 3rem;
  font-weight: bold;
}
.close:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  margin-bottom: 35px;
}



.twosides{
  padding: 30px;
  display: flex;
  gap: 10px;
  
}
.artistname{
  font-size: 2.1rem;
  line-height: 2.35rem;
  margin: 0 0 50px;
  font-weight: 200;
  color: #010101;
  margin: 0 0 15px;
}

.imagephototitle{
  text-transform: uppercase;
    letter-spacing: .16em;
    font-weight: 200;
    color: #010101;
    font-size: 1.25rem;
    line-height: 1.4em;
}
.sidefortxt{
  display: flex;
  flex-direction: column;
  gap: 7px;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.sideforima{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.sideforima img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 800px) {
  .twosides{
  width: 80%;
  margin: auto;
display: flex;
flex-direction: column;
    
  }


  .twosides{
    padding: 4px; 
  }

  .modal-content {
    background-color: #fefefe;
    position: absolute;
    border-radius: 3px;
    padding: 10px;
    max-width: 500px;
    width: 90%;
    top: 50%;
    left: 50%;
    height: 75%;
    transform: translate(-50%, -50%);
}
.sideforima img{
  object-fit: contain;
  width: 100%;
  height: 200px;
}
.sidefortxt{
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 3px;
}
}


@media only screen and (max-width: 790px) {
    .headercontainer{
        display: block;
    }
    
    }
    
    @media only screen and (max-width: 880px) {
    
      .userprofileflexboxcontent{
        display: flex;
        flex-direction: column;
        grid-gap: 30px;
      }
    
      .userflexboxside1 {
        position: relative;
    
    }
    
      .userflexboxside1{
        width: 100%;
        margin: auto;
    
      }
    
    }
    
    @media only screen and (max-width: 480px) {
    
      .userprofileflexboxcontent{
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
      }
      .userflexboxside1{
        width: 100%;
        margin: auto;
    
      }
    
    }
    
    
    .endnav a{
        font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 14px;
letter-spacing: -0.045em;
text-align: left;
color: #333333;

    }

    .flexheader {
        display: flex;
        margin-bottom: 10px;
        gap: 10px;
    }

    .flexinput {
        width: 55%;
    }
    .topnav {
        overflow: hidden;
    }


    .topnav .search-container {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .investment_header{
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(115, 115, 115, 1);
    
        margin-bottom: 9px;
        
      }
    
      .detail{
        color: #444;
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        padding-block: 6px;
      }

      .topnav .search-container button {
        padding: 10px 25px;
        margin: 7px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 6px 10px;
        margin-top: 8px;
        color: #fff;
        background: #007146;
        font-size: 17px;
        border: none;
        cursor: pointer;
        margin-left: -3px;
        border-radius: 3px;
    }
    .investment_container {
        margin-top: 35px;
    }

    .add_investment button {
        padding: 10px 10px;
        margin-top: 8px;
        color: #fff;
        background: #007146;
        font-size: 17px;
        border: none;
        cursor: pointer;
        margin-left: -3px;
        border-radius: 3px;
    }

    .investment_contents {
       
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        grid-auto-rows: 1fr;
        grid-gap: 20px;
    }

    .newside {
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
        height: 65vh;
        overflow-y: scroll;
        padding: 6px;
    }

    .investment_card{
        background-color: #fff;
        padding: 20px;
        border-radius: 7px;
    }
  
    .card-header{
        display: flex;
        justify-content: space-between;
  
    }
  
  .account_number{
      display: flex;
      flex-direction: column;
  }
  
  .acc_title{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  
  }
  
    .card_number{
        margin-top: 5px;
        color: #007146;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
  
    }
  
    .investmentcard_type{
        margin-top: 20px;
        color: #737373;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      
    }
    .card_rule_bottom{
        margin-top: 11px;
        margin-bottom: 11px;
        width: 95%;
      border-bottom: 0.5px solid #007146;
    }
  
  .investment_card_row{
      display: flex;
      grid-gap: 10px;
      margin-top: 20px;
      width: 100%;
  }
  .investment_card_orange_text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    color: #007146;
    word-break: break-all;
  }
  
  .investment_card_column{
    width: 100%;
  }
  
  .investment_card_brown_text{
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      color: #737373;
      
  }
  
  .investment_card_orange_text{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  color: #007146;
  
  }
  .hearder_tooltip{
    display: flex;
    flex-direction: column;
    width: 100px;
    position: relative;
  }
  
  .dropdown-content {
    margin-top: 10px;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
  }
  
  .hearder_tooltip a:hover {background-color: #ddd;}
  
  .hearder_tooltip:hover .dropdown-content {display: block;}
  
  .hearder_tooltip:hover .dropbtn {background-color: #3e8e41;}

  .add_investment {
    margin-left: auto;
}
@media only screen and (max-width: 690px){
    .flexheader {
        flex-direction: column-reverse;
    }
    .flexinput {
        width: 100%;
    }
}
